<h3> RouterState</h3>
<p>
  RouterState is a tree of activated routes. 
  Every node in this tree knows about the "consumed" URL segments, the extracted parameters, and the resolved data.
</p>
<p>
  After the end of each successful navigation lifecycle, the router builds a tree of ActivatedRoute objects that make up the current state of the router. You can access the current RouterState from anywhere in the application using the Router service and the routerState property.
</p>
<p>
  Each ActivatedRoute in the RouterState provides methods to traverse up and down the route tree to get information from parent, child and sibling routes.
</p>
<hr/>
<h3>Example of Important Properties</h3>

<p>
  Parent : <span>{{parenData}}</span>
</p>
<p>
  Params : <span>{{sub}}</span>
</p>
<!-- <p>
  Fragmentation : <span>{{fragvalue}}</span>
</p> -->
<p>
  Query Params : <span>{{subId}}</span>
</p>
  <h4>Snap Shot Example</h4>
<p>
   Param ID using Snapshot<span>{{id}}</span>
</p>
<!-- <p>
  Param URL using Snapshot<span>{{url}}</span>
</p> -->