header{
    background-color: blueviolet;
}
nav{
    margin-left: 30%;
}
header nav p {
    float: left;
    /*border: 1px solid white;*/
    display: -webkit-flex; /* Safari */
    display: flex;
    padding: 10px;
    text-align: center 
}
a:link {
    color: #fff;
    text-decoration: none;
}
a:visited{
    color: #fff;
}