<header class="header header-6">
    <div class="branding">
            <span class="title"> Angular </span>
    </div>
    <div class="header-nav">
        <a *ngFor="let item of items" [routerLinkActive]="['active']"[routerLinkActiveOptions]="{ exact: true }" routerLink="{{item.routerLink}}" class=" nav-link "><span class="nav-text">{{item.label}}</span></a>
        <a [routerLink]="[{ outlets: { popup: ['multipleoutlet'] } }]" class=" nav-link "><span class="nav-text">Contact</span></a>
    </div>
    <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div>
</header>