<h1>Asynchronous routing</h1>
<div class="clr-row">
  <div class="clr-col-md-12 clr-row">
    <div class="async-content">
      Asynchronous routing is , which loads feature modules lazily, on request. Lazy loading has multiple benefits.
      <ul class="clr-col-md-10 clr-col-md-push-2">
        <li>
          You can load feature areas only when requested by the user.
        </li>
        <li>
          You can speed up load time for users that only visit certain areas of the application.

        </li>
        <li>
          You can continue expanding lazy loaded feature areas without increasing the size of the initial load bundle.
        </li>
      </ul>
    </div>
  </div>
</div>