
    <h3>Wildcard route</h3>
<p>
    Add a wildcard route to intercept invalid URLs and handle them gracefully. A wildcard route has a path consisting of two asterisks. It matches every URL. The router will select this route if it can't match a route earlier in the configuration. A wildcard route can navigate to a custom "404 Not Found" component or redirect to an existing route.
</p>
<div class="demoCode">
    <span class="leftbrackets"></span> path: '**', component: PageNotFoundComponent <span class="rightbrackets"></span>
</div>
