<h1>BASE HREF</h1>
<p>Most routing applications should add a <code>&lt;base&gt;</code> element to the <code>index.html</code> as the first child in the  <code>&lt;head&gt;</code> tag
  to tell the router how to compose navigation URLs.</p>
<p>
  If the app folder is the application root, as it is for the sample application, set the href value exactly as shown here.
</p>
<div class="demoCode">
  <code>&lt;base href="/"&gt;</code>
  
</div>


<!-- <div class="w3-example">
  <h3>Example</h3>
  <div class="w3-code notranslate jsHigh"><span style="color:black">
  <span style="color:mediumblue">var</span> x = <span style="color:red">123</span>;<br>
  x.<span style="color:black">toString</span>();&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color:green">// returns 123 from variable x<br></span><span style="color:red">
  </span>(<span style="color:red">123</span>).<span style="color:black">toString</span>();&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; <span style="color:green">// returns 123 from literal 123<br></span><span style="color:red">
  </span>(<span style="color:red">100</span> + <span style="color:red">23</span>).<span style="color:black">toString</span>();&nbsp;&nbsp; <span style="color:green">// returns 123 from expression 100 + 23
   </span></span></div>
  <a class="w3-btn w3-margin-bottom" href="tryit.asp?filename=tryjs_number_tostring" target="_blank">Try it Yourself »</a>
  </div> -->
