<div *ngFor="let data of getData" class="row">
  Name: {{data.name}} <br>
  Tutorial:{{data.tutorial}}<br>
  Example:{{data.example}}<br>
  Author:{{data.author}}<br>
  Company:{{data.company}}<br>
</div>