<h3>Router Events</h3>
<p>
  During each navigation, the Router emits navigation events through the <i><b>Router.events</b></i> property. 
  These events range from when the navigation starts and ends to many points in between.
</p>
<table border="1px solid">
  <tbody><tr>
    <th>
      Router Event
    </th>
    <th>
      Description
    </th>
  </tr>
  <tr>
    <td>
      <code><a href="api/router/NavigationStart" class="code-anchor">NavigationStart</a></code>
    </td>
    <td>
<p>      An <a href="api/router/NavigationStart">event</a> triggered when navigation starts.</p>
    </td>
  </tr>
  <tr>
    <td>
      <code><a href="api/router/RoutesRecognized" class="code-anchor">RoutesRecognized</a></code>
    </td>
    <td>
<p>      An <a href="api/router/RoutesRecognized">event</a> triggered when the Router parses the URL and the routes are recognized.</p>
    </td>
  </tr>
  <tr>
    <td>
      <code><a href="api/router/RouteConfigLoadStart" class="code-anchor">RouteConfigLoadStart</a></code>
    </td>
    <td>
<p>      An <a href="api/router/RouteConfigLoadStart">event</a> triggered before the <code><a href="api/router/Router" class="code-anchor">Router</a></code>
<a href="guide/router#asynchronous-routing">lazy loads</a> a route configuration.</p>
    </td>
  </tr>
  <tr>
    <td>
      <code><a href="api/router/RouteConfigLoadEnd" class="code-anchor">RouteConfigLoadEnd</a></code>
    </td>
    <td>
<p>      An <a href="api/router/RouteConfigLoadEnd">event</a> triggered after a route has been lazy loaded.</p>
    </td>
  </tr>
  <tr>
    <td>
      <code><a href="api/router/NavigationEnd" class="code-anchor">NavigationEnd</a></code>
    </td>
    <td>
<p>      An <a href="api/router/NavigationEnd">event</a> triggered when navigation ends successfully.</p>
    </td>
  </tr>
  <tr>
    <td>
      <code><a href="api/router/NavigationCancel" class="code-anchor">NavigationCancel</a></code>
    </td>
    <td>
<p>      An <a href="api/router/NavigationCancel">event</a> triggered when navigation is canceled.
This is due to a <a href="guide/router#guards">Route Guard</a> returning false during navigation.</p>
    </td>
  </tr>
  <tr>
    <td>
      <code><a href="api/router/NavigationError" class="code-anchor">NavigationError</a></code>
    </td>
    <td>
<p>      An <a href="api/router/NavigationError">event</a> triggered when navigation fails due to an unexpected error.</p>
    </td>
  </tr>
</tbody></table>