<div [formGroup]="form" > 
   <div [ngSwitch]="question.controlType">
      <div *ngIf="showSelect">
         
          <select [id]="question.key"  *ngSwitchCase="'dropdown'" [formControlName]="question.key">
              <option value="0">Select one</option>
              <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
            </select>
      </div>
      
      <div *ngSwitchCase="'checkbox'">
          <input  type="checkbox" [formControlName]="question.key">
          <label [attr.for]="question.key">{{question.label}}</label>
      </div>
    </div>
  </div>
  
  
  