<h3 id="activated-route">Activated route</h3>
<p>The route path and parameters are available through an injected router service called the ActivatedRoute . It has a great
  deal of useful information including:</p>
<table>
  <tbody>
    <tr>
      <th>
        Property
      </th>
      <th>
        Description
      </th>
    </tr>
    <tr>
      <td>
        <code>url</code>
      </td>
      <td>
        <p> An
          <code>Observable</code> of the route path(s), represented as an array of strings for each part of the route path.</p>
      </td>
    </tr>
    <tr>
      <td>
        <code>data</code>
      </td>
      <td>
        <p> An
          <code>Observable</code> that contains the
          <code>data</code> object provided for the route. Also contains any resolved values from the resolve guard.</p>
      </td>
    </tr>
    <tr>
      <td>
        <code>paramMap</code>
      </td>
      <td>
        <p> An
          <code>Observable</code> that contains a map of the required and optional parameter specific to the route. The map supports retrieving
          single and multiple values from the same parameter.</p>
      </td>
    </tr>
    <tr>
      <td>
        <code>queryParamMap</code>
      </td>
      <td>
        <p> An
          <code>Observable</code> that contains a mapof the query parameters available to all routes. The map supports retrieving single and multiple
          values from the query parameter.
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <code>fragment</code>
      </td>
      <td>
        <p> An
          <code>Observable</code> of the URL fragment available to all routes.</p>
      </td>
    </tr>
    <tr>
      <td>
        <code>outlet</code>
      </td>
      <td>
        <p> The name of the
          <code>RouterOutlet</code> used to render the route. For an unnamed outlet, the outlet name is
          <em>primary</em>.</p>
      </td>
    </tr>
    <tr>
      <td>
        <code>routeConfig</code>
      </td>
      <td>
        <p> The route configuration used for the route that contains the origin path.</p>
      </td>
    </tr>
    <tr>
      <td>
        <code>parent</code>
      </td>
      <td>
        <p> The route's parent
          <code>ActivatedRoute</code> when this route is a child route.</p>
      </td>
    </tr>
    <tr>
      <td>
        <code>firstChild</code>
      </td>
      <td>
        <p> Contains the first
          <code>ActivatedRoute</code> in the list of this route's child routes.</p>
      </td>
    </tr>
    <tr>
      <td>
        <code>children</code>
      </td>
      <td>
        <p> Contains all the child routes activated under the current route.</p>
      </td>
    </tr>
  </tbody>
</table>
<div class="demoCode">
  
  <code>
      import <span class="leftbrackets"></span> ActivatedRoute <span class="rightbrackets"></span> from '<span class="at"></span>angular/router';
  </code>
  <p>

    constructor( private route: ActivatedRoute, )
  </p>
  <!-- <p>
    <h4>Param Example</h4>
    this.route.params.subscribe(params => {
      this.id = +params['id'];

       this.sub = this.route.params.subscribe(params => {
      this.id = +params['id'];
    });


  </p> -->
  <!-- <p>
    <h4> Snap Shot Example</h4>
      const id: string = this.route.snapshot.params.id;
      const url: string = this.route.snapshot.url.join('');
  </p> -->
  <h4>Param Example</h4>
  <p>
    this.route.params.subscribe(params =><span class="leftbrackets"></span>
    this.id = +params['id'];
    <span class="rightbrackets"></span>
  );
  </p>
    <h4> Snap Shot Example</h4>
    <p>
      const id: string = this.route.snapshot.params.id;<br>
      const url: string = this.route.snapshot.url.join('');
    </p>
  
</div>