<h3 id="router-imports">Router imports</h3>
<p>The Angular Router is an optional service that presents a particular component view for a given URL. It is not part of the
  Angular core. It is in its own library package,
  <code>@angular/router</code>. Import what you need from it as you would from any other Angular package.</p>
