<div class="content-container" id="myRouter">
  <div class="content-area">
   
    <router-outlet> </router-outlet>
    <router-outlet name="outletexample"></router-outlet>
  </div>
  <nav class="sidenav">
    <section class="sidenav-content">
      <section class="nav-group">
        <ul class="nav-list">
          <li *ngFor="let item of items">
            <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" routerLink="{{item.routerLink}}"
              fragment="education">{{item.label}}</a>
          </li>
        </ul>
      </section>
    </section>
  </nav>
</div>