<h1> Interaction Between the Components</h1>

<h3> Parent interacts with child via @INPUT</h3>
<hr/>
<h3> Child interacts with Parent via @OUTPUT</h3>
<hr/>

<h3> Parent interacts with child via  View Chid </h3> 
<hr/>
<button (click)="sendMsg()"> Parent to Child</button>
<app-child></app-child>


<h3> Parent interacts with child via  View Chidren  </h3> 
<hr/>

<h3> Parent interacts with child via Local Variable</h3>
<hr/>
<h3> Parent interacts with child via Services</h3>
<hr/>