<div class="row content-area">
  <div class="col-md-10 push-md-1 row desc">
    <div class="col-md-10 push-md-1">
      <div class="tab-continer" *ngIf="questions">
        <form (ngSubmit)="onSubmit()" [formGroup]="form">

          <div *ngFor="let question of questions" class="form-row">
            <app-question [question]="question" (selectQuestion)="getRecord($event)" [form]="form"></app-question>
          </div>

          <div class="clear"></div>

          <div class="form-row" *ngIf="submitButton">
            <button type="submit" [disabled]="!form.valid">Continiue</button>
          </div>
        </form>
        <div *ngIf="payLoad" class="form-row">
          <strong>Saved the following values</strong>
          <br>{{payLoad}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="clr-row">
    <div class="clr-col-4">
        <span>4</span>
    </div>
    <div class="clr-col-6">
        <span>6</span>
    </div>
    <div class="clr-col-2">
        <span>2</span>
    </div>
</div>