.tab-continer{
    width: 90%;
    float: left;
}
.clear{
    clear: both;
}
.continue{
    width: 75%;
    box-sizing: border-box;
    float: right;
    margin: 20px;

} 

app-form{
    width: 100%;
}