<div [formGroup]="form">
  <div [ngSwitch]="question.controlType">
    <div class="categories" *ngSwitchCase="'dropdown'">
      <div class="troubleshoot">
        <label [attr.for]="question.key">{{question.label}}</label>
      </div>
      <div class="questions">
        <div class="select">
          <select [id]="question.key" (change)="displayData(question,$event)" [formControlName]="question.key">
            <option value="0">Select one</option>
            <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="checkbox" *ngSwitchCase="'checkbox'">
      <input type="checkbox" id="{{question.key}}" [formControlName]="question.key">
      <label for="{{question.key}}">{{question.label}}</label>
    </div>

  </div>

</div>
<div class="categories-divider">
  <br>
</div>