.getHelpColumn{
    border: none;
    width: 200px;
    background-color: #eee;
}
.getHelpHeader{
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 9px;
    font-family: arial;
    height: 35px;
}
.getHelpInfo{
    padding-bottom: 9px;
    color: #666;
    height: 44px;
}
.categories{
    width: 25%;
    float: left;
    background-color: #eee;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
 
}
.categories-divider{
    width: 1%;
    float: left;
}
.troubleshoot{
    font-size: 12px;
}
.clear{
    clear: both;
}
.queryListTitle{
    background: #2F2F32;
    border: 1px solid #252525;
    color: white;
    padding: 3px 5px 3px 15px;
    font-size: 10px;
}
.queryList .query {
    padding: 15px;
    position: relative;
    border-bottom: 1px dotted #999;
    font-size: 15px;
    font-weight: normal;
}
.button {
    padding: 5px 15px;
    border-radius: 3px 3px 3px 3px !important;
    color: #FFF;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    margin: 5px 0 5px 2px !important;
    padding: 4px 15px;
   
    text-shadow: none;
}
.checkboxdata{
    width: 75%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    margin-left: 3%;
}
.checkbox{
    float: left;
    width: 20%;
    padding-left: 10px;
    padding-bottom: 10px;
}
.continue{
    width: 75%;
    box-sizing: border-box;
    float: right;
    margin: 20px;

}