.app-content{
    width: 100%;
    float: left;
}
.app-routeContent{
    width: 100%;
    float: left;
}

.app-footer{
    width: 100%;
    float: left;
}
.getHelpColumn{
    border: none;
    width: 200px;
    background-color: #eee;
}
.getHelpHeader{
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 9px;
    font-family: arial;
    height: 35px;
}
.getHelpInfo{
    padding-bottom: 9px;
    color: #666;
    height: 44px;
}
.tab-continer{
    width: 90%;
    float: left;
}
.categories{
    width: 25%;
    float: left;
    background-color: #eee;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
}
.categories-divider{
    width: 1%;
    float: left;
}
.troubleshoot{
    font-size: 12px;
}
.clear{
    clear: both;
}