<div class="main-container">
        <div class="app-header">
                <app-header></app-header>
        </div>
        <div class="content-container">
                <router-outlet></router-outlet>
                <router-outlet name="popup"></router-outlet>
        </div>

</div>