<h3>
  Router outlet
</h3>
<p>
  Given this configuration, when the browser URL for this application becomes /heroes, the router matches that URL to the route
  path /heroes and displays the HeroListComponent after a RouterOutlet that you've placed in the host view's HTML.
</p>
<code class="animated fadeIn">
<span class="tag">&lt;</span><span class="tag">router-outlet</span><span class="tag">&gt;&lt;/</span><span class="tag">router-outlet</span><span class="tag">&gt;</span><span class="pln">
</span>
<p>
<span class="com">
&lt;!-- Routed views go here --&gt;
</span>
</p>
</code>