<div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
  
      <div *ngFor="let question of questions" class="form-row">
        <app-answer [question]="question" [selected]="selectedDropdown"[form]="form"></app-answer>
      </div>

      <div class="form-row">
          <button type="submit" [disabled]="!form.valid">Save</button>
      </div>

    </form>
     
  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>   
  </div>