/* You can add global styles to this file, and also import other style files 
/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/
body { margin: 0; }

body { margin: 0; }

body { 
    margin: 0; 
    font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    margin: 0;
    font-size: 14px;
}
.main-container{
    height: 200vh !important;
    background-color: #eee !important;
}
.desc{
    background-color: #fff;
    width: 100%;
    padding: 48px 0 24px;
    border-radius: 3px;
    border: 1px solid #d7d7d7;
    box-shadow: 0 3px 0 0 #d7d7d7;
}
.demoCode{
    padding: 10px;
    border: 1px solid black;
    background-color: lightgoldenrodyellow;
    margin: 15px 0;
}
.leftbrackets:after {
    content: ' \007B';
}
.rightbrackets:after {
    content: ' \007D';
}
.pipe:after {
    content: ' \007C';
}
.leftbrackets:after {
    content: ' \007B';
}
.leftparenthesis:after{
    content: ' \0028';
}
.rightparenthesis:after{
    content: ' \0029';
}
.apostrophe:after{
    content: ' \0027';
}
.leftsquare:after{
    content: ' \0027';
}
.rightsquare:after{
    content: ' \0027';
}
.at:after{
    content: ' \0040';
}
.colon:after{
    content: ' \003A';
}
.semicolon:after{
    content: ' \003B';
}

