<div style="position: relative; width: 100%; float: left;">
    <img style="width: 100%;" src="https://vmware.sabacloud.com/Saba/Web/NA1PRD0121/Image/r8SO7N7_pTKtWkUOEPyD8-eZvbNLD9qe?file=Onboarding Portal Banner_62c9d63c-9008-42f7-854c-99b618d8b91d_1524471391274.png"
        alt="" />
    <div>
        <strong>
            <span style="position: absolute; bottom: 7%; right: 6%; color: white; font-family: Arial; font-weight: bold; font-size: 14px;">New Employee Experience</span>
        </strong>
    </div>
    <div style="position: absolute; right: 1px; bottom: 1%;">
        <img src="https://vmware.sabacloud.com/Saba/Web/NA1PRD0121/Image/r8SO7N7_pTKtWkUOEPyD8-eZvbNLD9qe?file=newexperience_b237e628-25f6-4055-a118-c8981fa33017_1524473166469.png"
            alt="" />
    </div>
</div>
<div style="width: 100%; float: left;">
    <div style="width: 22%; float: left;">
        <div style="width: 100%; float: left; text-align: justify; margin: 10px;">
            <div style="padding-right: 15px;">
                <h3 style="text-align: center; color: white; background-color: #006991; margin-top: 0; height: 30px; padding-top: 7px;">Quick links</h3>
                <ul style="padding-left: 10px;">
                    <li style="list-style-position: outside; text-align: left;">
                        <span style="text-decoration: underline;">
                            <span style="color: #0000ff; font-family: arial, helvetica, sans-serif; font-size: 8pt; text-decoration: underline;">
                                <a style="color: #0000ff; text-decoration: underline; background-color: #ffffff;" href="https://onevmw-my.sharepoint.com/personal/mraghavendra_vmware_com/_layouts/15/guestaccess.aspx?guestaccesstoken=wWAPfTE3moYNQR5lfQu7lDtcZ0mW%2FBfxUd9wKz%2Bzcfo%3D&docid=2_17dc8b353b4924cf299833e1f7a535372&rev=1&e=295899c380d64d0582821d41b86ddeed">APJ Leadership Team</a>
                            </span>
                        </span>
                    </li>
                    <li style="list-style-position: outside; text-align: left;">
                        <span style="text-decoration: underline;">
                            <span style="color: #0000ff; font-family: arial, helvetica, sans-serif; font-size: 8pt; text-decoration: underline;">
                                <a style="color: #0000ff; text-decoration: underline;" href="https://onevmw-my.sharepoint.com/:p:/r/personal/mraghavendra_vmware_com/_layouts/15/doc.aspx?sourcedoc=%7B0ad4a8cf-3a41-4487-a2f3-cdb845b1bfae%7D&action=edit&uid=%7B0AD4A8CF-3A41-4487-A2F3-CDB845B1BFAE%7D&ListItemId=6277&ListId=%7B55C98542-F8D8-4C6F-9657-E7E540110282%7D&odsp=1&env=prod">APJ&nbsp;Priorities [Duncan Bennet]</a>
                            </span>
                        </span>
                    </li>
                    <li style="list-style-position: outside; text-align: left;">
                        <span style="text-decoration: underline;">
                            <span style="color: #0000ff; font-family: arial, helvetica, sans-serif; font-size: 8pt; text-decoration: underline;">
                                <a style="color: #0000ff; text-decoration: underline;" href="https://onevmw-my.sharepoint.com/:p:/r/personal/mraghavendra_vmware_com/Documents/APJ%20Onboarding%20Portal%20Assets/APJ%20Mktg%20Priorities_Onboarding%20Portal.pptx?d=w5cee757ed99549ee8370eb7ec113e95f&csf=1&e=5dZObW">APJ Mktg Priorities & Key Mktg Programs</a>&nbsp; </span>
                        </span>
                    </li>
                    <li style="list-style-position: outside; text-align: left;">
                        <span style="text-decoration: underline;">
                            <span style="color: #0000ff; font-family: arial, helvetica, sans-serif; font-size: 8pt; text-decoration: underline;">APJ Mktg Organisation Chart</span>
                        </span>
                    </li>
                    <li style="list-style-position: outside; text-align: left;">
                        <span style="text-decoration: underline;">
                            <span style="color: #0000ff; font-family: arial, helvetica, sans-serif; font-size: 8pt; text-decoration: underline;">
                                <a style="color: #0000ff; text-decoration: underline;" href="https://onevmw-my.sharepoint.com/personal/mraghavendra_vmware_com/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fmraghavendra_vmware_com%2FDocuments%2FAPJ%20Top%20Stories">APJ&nbsp;Top Customer Stories</a>
                            </span>
                        </span>
                    </li>
                    <li style="list-style-position: outside; text-align: left;">
                        <span style="color: #0000ff; font-family: arial, helvetica, sans-serif; font-size: 8pt;">
                            <a style="color: #0000ff; text-decoration: underline;" href="https://source.vmware.com/marketing/apj/pages/home.aspx">APJ Integrated Mktg [Updates]</a>
                        </span>
                    </li>
                    <li style="list-style-position: outside; text-align: left;">
                        <span style="text-decoration: underline; color: #0000ff;">
                            <span style="font-family: arial,helvetica,sans-serif; font-size: 8pt; text-decoration: underline;">
                                <a style="color: #0000ff; text-decoration: underline;" href="https://onevmw-my.sharepoint.com/:b:/g/personal/mraghavendra_vmware_com/EcK1z6oEc8hAsJFCc9R3sXgBxAu7o9_P9MliwrakW8UxOw?e=5rFnUS">APJ Mktg Team's Smart Guide for Career Dev</a>
                            </span>
                        </span>
                    </li>
                </ul>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div style="text-align: left;">&nbsp;</div>
                <div style="text-align: left;">&nbsp;</div>
                <div style="text-align: left;">&nbsp;</div>
                <div style="text-align: left;">Use this
                    <a href="https://vault.vmware.com/group/vault-main-library/document-preview?fileId=31236594">Manager's Guide</a> for instructions on how to track your employees' progress through the Onboarding&nbsp;program,
                    download reports, and to schedule automatic reporting.</div>
            </div>
        </div>
    </div>
    <div style="width: 78%; float: left;">
        <div style="display: flex; box-sizing: border-box; padding-left: 10px;">
            <div>
                <h3>
                    <strong>Congratulations and Welcome!</strong>
                </h3>
                <p style="text-align: justify;">
                    <strong>Your professional journey at VMware begins with a
                        <span style="color: #000080;">
                            <em>New Employee Experience. </em>T</span>his Onboarding program is designed to provide you with
                        the essential tools and information and connect you to the corporate narrative and company strategy.
                        This will help you create meaningful connections across our diverse business. This program provides
                        you with the tools and resources that will help you expand your knowledge, maximize your impact,
                        and ultimately drive your career forward at VMware.</strong>
                </p>
                <p style="text-align: justify;">&nbsp;</p>
                <p style="text-align: justify;">&nbsp;</p>
                <p style="text-align: justify;">&nbsp;
                    <iframe style="margin: 0px auto; width: 486px; height: 277px; display: block;" src="https://www.youtube.com/embed/2DU_iuIAMVc?rel=0"
                        width="448" height="252" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                </p>
            </div>
        </div>
    </div>
</div>
<div style="float: left; width: 100%; margin-top: 20px;">
    <div style="width: 20%; float: left; padding-left: 50px; box-sizing: border-box;">
        <img style="width: 120px; height: 120px;" src="https://vmware.sabacloud.com/Saba/Web/NA1PRD0121/Image/r8SO7N7_pTKtWkUOEPyD8-eZvbNLD9qe?file=intro_3ac204bc-b62f-4f0b-b330-1140c95dc28b_1524473242572.png"
            alt=" " align="middle" />
        <p style="margin-top: 4px;">
            <a href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/learningeventdetail/curra000000000007621 " target="_blank ">
                <img style="width: 120px; height: 40px;" src="https://vmware.sabacloud.com/Saba/Web/NA1PRD0121/Image/r8SO7N7_pTKtWkUOEPyD8-eZvbNLD9qe?file=Introduction_46847273-7b74-4afd-a4f5-e81bce012ce1_1524471454005.png"
                    alt=" " align="middle" /> </a>
        </p>
    </div>
    <div style="width: 20%; float: left; padding-left: 50px; box-sizing: border-box;">
        <img style="width: 120px; height: 120px;" src="https://vmware.sabacloud.com/Saba/Web/NA1PRD0121/Image/r8SO7N7_pTKtWkUOEPyD8-eZvbNLD9qe?file=Finance_d0e2f3ac-45e4-4f5d-b20a-ee9d3d3d14c0_1524473216641.png"
            alt=" " />
        <p>
            <a href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/learningeventdetail/curra000000000007682 " target="_blank ">
                <img style="width: 120px; height: 40px;" src="https://vmware.sabacloud.com/Saba/Web/NA1PRD0121/Image/r8SO7N7_pTKtWkUOEPyD8-eZvbNLD9qe?file=FinancePolicies_77334afe-c3f7-4b32-88f1-bc534a0c82dc_1524471579693.png"
                    alt=" " /> </a>
        </p>
    </div>
    <div style="width: 20%; float: left; padding-left: 50px; box-sizing: border-box;">
        <img style="width: 120px; height: 120px;" src="https://vmware.sabacloud.com/Saba/Web/NA1PRD0121/Image/r8SO7N7_pTKtWkUOEPyD8-eZvbNLD9qe?file=Tools_de70cbf7-de38-4993-9e49-ab1e60775182_1524473286939.png"
            alt=" " />
        <p>
            <a title="Tools & Systems" href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/learningeventdetail/curra000000000007909">
                <img style="width: 120px; height: 40px;" src="https://vmware.sabacloud.com/Saba/Web/NA1PRD0121/Image/r8SO7N7_pTKtWkUOEPyD8-eZvbNLD9qe?file=ToolsSystems_99439b35-1666-4ab6-b0e4-8e32369ae588_1524471596582.png"
                    alt=" " /> </a>
        </p>
    </div>
    <div style="width: 20%; float: left; padding-left: 50px; box-sizing: border-box;">
        <img style="width: 120px; height: 120px;" src="https://vmware.sabacloud.com/Saba/Web/NA1PRD0121/Image/r8SO7N7_pTKtWkUOEPyD8-eZvbNLD9qe?file=Product_0855df74-2e68-4105-9fe7-0891a4f3931d_1524473264540.png"
            alt=" " align="middle" />
        <p style="margin-top: 4px;">
            <a href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/learningeventdetail/curra000000000009350">
                <img style="width: 120px; height: 40px;" src="https://vmware.sabacloud.com/Saba/Web/NA1PRD0121/Image/r8SO7N7_pTKtWkUOEPyD8-eZvbNLD9qe?file=Solutions Products_05c8477c-3be8-413a-85ff-9184dd5ef88e_1524471491793.png"
                    alt=" " /> </a>
        </p>
    </div>
    <div style="width: 20%; float: left; padding-left: 40px; box-sizing: border-box;">
        <img style="width: 120px; height: 120px;" src="https://vmware.sabacloud.com/Saba/Web/NA1PRD0121/Image/r8SO7N7_pTKtWkUOEPyD8-eZvbNLD9qe?file=Career_e6878513-4828-4cfc-a2d8-1244e1fa21ac_1524473193443.png"
            alt="" />
        <p>
            <img style="width: 120px; height: 40px;" src="https://vmware.sabacloud.com/Saba/Web/NA1PRD0121/Image/r8SO7N7_pTKtWkUOEPyD8-eZvbNLD9qe?file=Career Development_9d8d93a3-646b-4036-9533-ad8e4b9c2e3c_1524471471274.png"
                alt="" />
        </p>
        <p>&nbsp;</p>
    </div>
</div>
<div style="position: relative; width: 100%; float: left;">
    <img style="width: 100%;" src="https://vmware.sabacloud.com/Saba/Web/NA1PRD0121/Image/r8SO7N7_pTKtWkUOEPyD8-eZvbNLD9qe?file=Banner for Role Specific Learning Plan_49aa3594-2dcd-4bc6-8bfd-86cd52b74141_1524471419468.png"
        alt="" />
</div>
<div style="float: left; width: 100%;">​
    <table style="height: 70px; border-color: #ffffff;" border="0" width="100%" cellspacing="5" cellpadding="10">
        <tbody>
            <tr style="height: 70px;">
                <th style="background-color: #ffffff; width: 16%; box-sizing: border-box; ; vertical-align: middle;" scope="col">
                    <span style="color: #f38b00;">
                        <strong>
                            <span style="color: #1a528a; font-family: arial, helvetica, sans-serif; font-size: 10pt;">Executive Marketing</span>
                        </strong>
                    </span>
                </th>
                <td style="vertical-align: middle; width: 15%; text-align: center;" valign="middle" bgcolor="#0195d3">
                        <span>
                                <span style="color: #ffffff;">
                                        <a style="color: #ffffff;"href="https://onevmw-my.sharepoint.com/:b:/g/personal/mraghavendra_vmware_com/EREjIE0FDi1Lsne51E4wvUUBN_05grCwWVvpZrSjjadIbQ?e=pCL5yY"
                                        target="_blank">QuickSTART <br>
                                        Checklist </a>
                                    <br /> </span>
                            </span>
                </td>
                <td style="vertical-align: middle; width: 14%; text-align: center;" valign="middle" bgcolor="#006991">&nbsp;</td>
                <td style="vertical-align: middle; width: 15%; text-align: center;" valign="middle" bgcolor="#1d4077">&nbsp;</td>
                <td style="vertical-align: middle; width: 14%; text-align: center;" valign="top" bgcolor="#6bb344">&nbsp;</td>
                <td style="background-color: #387c2c; width: 14%; text-align: center; vertical-align: middle;" valign="top" bgcolor="#6bb344">
                    <span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">
                        <a id="ext-gen1120" class="ui_78" style="color: #ffffff;" tabindex="0" href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/ledetail/cours000000000030469"
                            target="_blank"></a>&nbsp;&nbsp;</span>
                </td>
            </tr>
            <!-- <tr>				<td style="vertical-align: middle; width: 15%; text-align: center;" valign="middle" bgcolor="#0195d3">					<span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">						<span style="color: #ffffff;">							<a id="ext-gen1116" class="ui_74" style="color: #ffffff;" tabindex="0" href="https://onevmw-my.sharepoint.com/:w:/r/personal/scharvin_vmware_com/Documents/QuickSTART%20Checklist.docx?d=wd2ca8769aaf246adbea5ec797eeba8f2&csf=1&e=u25fvt"							 target="_blank">								<br /> </a>							<br /> </span>					</span>				</td>				<td style="vertical-align: middle; width: 14%; text-align: center;" valign="middle" bgcolor="#006991">&nbsp;</td>				<td style="vertical-align: middle; width: 15%; text-align: center;" valign="middle" bgcolor="#1d4077">&nbsp;</td>				<td style="vertical-align: middle; width: 14%; text-align: center;" valign="top" bgcolor="#6bb344">&nbsp;</td>				<td style="background-color: #387c2c; width: 14%; text-align: center; vertical-align: middle;" valign="top" bgcolor="#6bb344">					<span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">						<a id="ext-gen1120" class="ui_78" style="color: #ffffff;" tabindex="0" href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/ledetail/cours000000000030469"						 target="_blank"></a>&nbsp;&nbsp;</span>				</td>			</tr>			<tr>				<td style="vertical-align: middle; width: 15%; text-align: center;" valign="middle" bgcolor="#0195d3">					<span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">						<span style="color: #ffffff;">							<a id="ext-gen1116" class="ui_74" style="color: #ffffff;" tabindex="0" href="https://onevmw-my.sharepoint.com/:w:/r/personal/scharvin_vmware_com/Documents/QuickSTART%20Checklist.docx?d=wd2ca8769aaf246adbea5ec797eeba8f2&csf=1&e=u25fvt"							 target="_blank"></a>							<br /> </span>					</span>				</td>				<td style="vertical-align: middle; width: 14%; text-align: center;" valign="middle" bgcolor="#006991">&nbsp;</td>				<td style="vertical-align: middle; width: 15%; text-align: center;" valign="middle" bgcolor="#1d4077">&nbsp;</td>				<td style="vertical-align: middle; width: 14%; text-align: center;" valign="top" bgcolor="#6bb344">&nbsp;</td>				<td style="background-color: #387c2c; width: 14%; text-align: center; vertical-align: middle;" valign="top" bgcolor="#6bb344">					<span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">						<a id="ext-gen1120" class="ui_78" style="color: #ffffff;" tabindex="0" href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/ledetail/cours000000000030469"						 target="_blank"></a>&nbsp;&nbsp;</span>				</td>			</tr> -->
        </tbody>
    </table>
</div>
<div style="float: left; width: 100%;">​
    <table style="height: 70px; border-color: #ffffff;" border="0" width="100%" cellspacing="5" cellpadding="10">
        <tbody>
            <tr style="height: 70px;">
                <th style="background-color: #ffffff; width: 16%; box-sizing: border-box; ; vertical-align: middle;" scope="col">
                    <span style="color: #f38b00;">
                        <strong>
                            <span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">IT Practitioner Marketing</span>
                        </strong>
                    </span>
                </th>
                <td style="vertical-align: middle; width: 15%; text-align: center;" valign="middle" bgcolor="#0195d3">
                        <span>
                                <span style="color: #ffffff;">
                                        <a style="color: #ffffff;"href="https://onevmw-my.sharepoint.com/:b:/g/personal/mraghavendra_vmware_com/EREjIE0FDi1Lsne51E4wvUUBN_05grCwWVvpZrSjjadIbQ?e=pCL5yY"
                                        target="_blank">QuickSTART <br>
                                        Checklist </a>
                                    <br /> </span>
                            </span>
                </td>
                <td style="vertical-align: middle; width: 14%; text-align: center;" valign="middle" bgcolor="#006991">&nbsp;</td>
                <td style="vertical-align: middle; width: 15%; text-align: center;" valign="middle" bgcolor="#1d4077">&nbsp;</td>
                <td style="vertical-align: middle; width: 14%; text-align: center;" valign="top" bgcolor="#6bb344">&nbsp;</td>
                <td style="background-color: #387c2c; width: 14%; text-align: center; vertical-align: middle;" valign="top" bgcolor="#6bb344">
                    <span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">
                        <a id="ext-gen1120" class="ui_78" style="color: #ffffff;" tabindex="0" href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/ledetail/cours000000000030469"
                            target="_blank"></a>&nbsp;&nbsp;</span>
                </td>
            </tr>
            <!-- <tr>				<td style="vertical-align: middle; width: 15%; text-align: center;" valign="middle" bgcolor="#0195d3">					<span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">						<span style="color: #ffffff;">							<a id="ext-gen1116" class="ui_74" style="color: #ffffff;" tabindex="0" href="https://onevmw-my.sharepoint.com/:w:/r/personal/scharvin_vmware_com/Documents/QuickSTART%20Checklist.docx?d=wd2ca8769aaf246adbea5ec797eeba8f2&csf=1&e=u25fvt"							 target="_blank">								<br /> </a>							<br /> </span>					</span>				</td>				<td style="vertical-align: middle; width: 14%; text-align: center;" valign="middle" bgcolor="#006991">&nbsp;</td>				<td style="vertical-align: middle; width: 15%; text-align: center;" valign="middle" bgcolor="#1d4077">&nbsp;</td>				<td style="vertical-align: middle; width: 14%; text-align: center;" valign="top" bgcolor="#6bb344">&nbsp;</td>				<td style="background-color: #387c2c; width: 14%; text-align: center; vertical-align: middle;" valign="top" bgcolor="#6bb344">					<span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">						<a id="ext-gen1120" class="ui_78" style="color: #ffffff;" tabindex="0" href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/ledetail/cours000000000030469"						 target="_blank"></a>&nbsp;&nbsp;</span>				</td>			</tr>			<tr>				<td style="vertical-align: middle; width: 15%; text-align: center;" valign="middle" bgcolor="#0195d3">					<span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">						<span style="color: #ffffff;">							<a id="ext-gen1116" class="ui_74" style="color: #ffffff;" tabindex="0" href="https://onevmw-my.sharepoint.com/:w:/r/personal/scharvin_vmware_com/Documents/QuickSTART%20Checklist.docx?d=wd2ca8769aaf246adbea5ec797eeba8f2&csf=1&e=u25fvt"							 target="_blank"></a>							<br /> </span>					</span>				</td>				<td style="vertical-align: middle; width: 14%; text-align: center;" valign="middle" bgcolor="#006991">&nbsp;</td>				<td style="vertical-align: middle; width: 15%; text-align: center;" valign="middle" bgcolor="#1d4077">&nbsp;</td>				<td style="vertical-align: middle; width: 14%; text-align: center;" valign="top" bgcolor="#6bb344">&nbsp;</td>				<td style="background-color: #387c2c; width: 14%; text-align: center; vertical-align: middle;" valign="top" bgcolor="#6bb344">					<span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">						<a id="ext-gen1120" class="ui_78" style="color: #ffffff;" tabindex="0" href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/ledetail/cours000000000030469"						 target="_blank"></a>&nbsp;&nbsp;</span>				</td>			</tr> -->
        </tbody>
    </table>
</div>
<div style="float: left; width: 100%;">​
    <table style="height: 210px; border-color: #ffffff;" border="0" width="100%" cellspacing="5" cellpadding="10">
        <tbody>
            <tr style="height: 70px;">
                <th style="background-color: #ffffff; width: 16%; box-sizing: border-box; ; vertical-align: middle;" rowspan="3" scope="col">
                    <span style="color: #f38b00;">
                        <strong>
                            <span style="color: #1a528a; font-family: arial, helvetica, sans-serif; font-size: 10pt;">Partner Marketing</span>
                        </strong>
                    </span>
                </th>
                <td style="vertical-align: middle; width: 15%; text-align: center;" valign="middle" bgcolor="#0195d3">
                    <span>
                        <span style="color: #ffffff;">
                                <a style="color: #ffffff;"href="https://onevmw-my.sharepoint.com/:b:/g/personal/mraghavendra_vmware_com/EREjIE0FDi1Lsne51E4wvUUBN_05grCwWVvpZrSjjadIbQ?e=pCL5yY"
                                target="_blank">QuickSTART <br>
                                Checklist </a>
                            <br /> </span>
                    </span>
                </td>
                <td style="vertical-align: middle; width: 14%; text-align: center;" valign="middle" bgcolor="#006991">
                    <span>
                            <a style="color: #ffffff;" href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/learningeventdetail/curra000000000006707"
                            target="_blank">VSP 2017 </a>
                    </span>
                </td>
                <td style="vertical-align: middle; width: 15%; text-align: center;" valign="middle" bgcolor="#1d4077">
                    <span style="color: #ffffff; font-size: 10pt;">
                        <a style="color: #ffffff;" href="http://partners.us.newsweaver.com/vpn-inside-edition/x7tm6613vyqjl90ed89cjy?email=true&a=5&p=2133938&t=259910">PMM&nbsp;Tool Kit</a>
                    </span>
                    <span style="font-family: arial, helvetica, sans-serif; color: #ffffff;">
                        <span style="font-size: 13.3333px;">&nbsp;</span>
                    </span>
                </td>
                <td style="vertical-align: middle; width: 14%; text-align: center;" valign="top" bgcolor="#6bb344">
                    <span>
                            <a style="color: #ffffff;"href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/learningeventdetail/curra000000000003062"
                            target="_blank">Pricing</a>
                    </span>
                </td>
                <td style="background-color: #387c2c; width: 14%; text-align: center; vertical-align: middle;" valign="top" bgcolor="#6bb344">
                    <span>
                            <a style="color: #ffffff;"href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/learningeventdetail/curra000000000006697"
                            target="_blank">Services</a>
                        <a id="ext-gen1120" class="ui_78" style="color: #ffffff;" tabindex="0" href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/ledetail/cours000000000030469"
                            target="_blank"></a>&nbsp;&nbsp;</span>
                </td>
            </tr>
            <tr style="height: 70px;">
                <td style="vertical-align: middle; width: 15%; text-align: center;" valign="middle" bgcolor="#0195d3">
                    <span>
                        <span style="color: #ffffff;">
                           
                                <a style="color: #ffffff;" href="https://www.youtube.com/playlist?list=PLyvVoSyLQbEO36661Ehr04C5TWo0znaAQ">VMware Partner Demand Center 'How To' Videos</a>
                            </span>
                    </span>
                </td>
                <td style="vertical-align: middle; width: 14%; text-align: center;" valign="middle" bgcolor="#006991">
                    <p>&nbsp;</p>
                </td>
                <td style="vertical-align: middle; width: 15%; text-align: center;" valign="middle" bgcolor="#1d4077">
                        <a style="color: #ffffff;"  href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/learningeventdetail/curra000000000006697"
                        target="_blank">Joint Business Planning for Field</a>
                </td>
                <td style="vertical-align: middle; width: 14%; text-align: center;" valign="top" bgcolor="#6bb344">
                    <span>
                            <a style="color: #ffffff;" href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/learningeventdetail/curra000000000003062"
                            target="_blank">vSOM Level 1</a>
                    </span>
                </td>
                <td style="background-color: #387c2c; width: 14%; text-align: center; vertical-align: middle;" valign="top" bgcolor="#6bb344">
                    <span>
                         <a style="color: #ffffff;" href="#">DF Guidelines</a>
                    </span>   
                </td>
            </tr>
            <tr style="height: 70px;">
                <td style="vertical-align: middle; width: 15%; text-align: center;" valign="middle" bgcolor="#0195d3">
                    <span >
                        <span style="color: #ffffff;">
                           
                                <a style="color: #ffffff;" href="http://partners.us.newsweaver.com/vpn-inside-edition/f1txmwbgw4ojl90ed89cjy?email=true&a=5&p=2133938&t=259917">Partner Demand Center</a>
                           </span>
                    </span>
                </td>
                <td style="vertical-align: middle; width: 14%; text-align: center;" valign="middle" bgcolor="#006991">&nbsp;
                    <p>&nbsp;</p>
                </td>
                <td style="vertical-align: middle; width: 15%; text-align: center;" valign="middle" bgcolor="#1d4077">
                        <a style="color: #ffffff;" href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/learningeventdetail/curra000000000006707"
                        target="_blank">Sales Cycle + Skil</a>&nbsp;</td>
                <td style="vertical-align: middle; width: 14%; text-align: center;" valign="top" bgcolor="#6bb344">
                    <span>
                            <a style="color: #ffffff;"href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/learningeventdetail/curra000000000003062"
                            target="_blank"> Sales Tools: PBM</a>
                    </span>
                </td>
                <td style="background-color: #387c2c; width: 14%; text-align: center; vertical-align: middle;" valign="top" bgcolor="#6bb344">
                    <span>
                            <a style="color: #ffffff;"href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/ledetail/cours000000000030469"
                            target="_blank"></a>&nbsp;&nbsp;</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div style="float: left; width: 100%;">​
    <table style="height: 210px; border-color: #ffffff;" border="0" width="100%" cellspacing="5" cellpadding="10">
        <tbody>
            <tr style="height: 70px;">
                <th style="background-color: #ffffff; width: 16%; box-sizing: border-box; ; vertical-align: middle;" rowspan="3" scope="col">
                    <span style="color: #f38b00;">
                        <strong>
                            <span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">Professional Services Marketing</span>
                        </strong>
                    </span>
                </th>
                <td style="vertical-align: middle; width: 15%; text-align: center;" valign="middle" bgcolor="#0195d3">
                    <span>
                        <a style="color: #ffffff;" href="https://onevmw-my.sharepoint.com/:b:/g/personal/mraghavendra_vmware_com/EREjIE0FDi1Lsne51E4wvUUBN_05grCwWVvpZrSjjadIbQ?e=pCL5yY"
                            target="_blank">QuickSTART
                            <br />Checklist
                            <br /> </a>

                    </span>
                </td>
                <td style="vertical-align: middle; width: 14%; text-align: center;" valign="middle" bgcolor="#006991">
                    <span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">
                        <a style="color: #ffffff;" href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/learningeventdetail/curra000000000006707"
                            target="_blank">PSO&nbsp;Overview</a>
                    </span>
                </td>
                <td style="vertical-align: middle; width: 15%; text-align: center;" valign="middle" bgcolor="#1d4077">
                    <span>
                        <a style="color: #ffffff;" href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/learningeventdetail/curra000000000006697"
                            target="_blank">Services Sales Tools & Resources</a>
                    </span>
                </td>
                <td style="vertical-align: middle; width: 14%; text-align: center;" valign="top" bgcolor="#6bb344">
                    <span>
                        <a style="color: #ffffff;" href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/learningeventdetail/curra000000000003062"
                            target="_blank">VMwareSELLING</a>
                    </span>
                </td>
                <td style="background-color: #387c2c; width: 14%; text-align: center; vertical-align: middle;" valign="top" bgcolor="#6bb344">
                    <span>
                        <a style="color: #ffffff;" href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/ledetail/cours000000000030469"
                            target="_blank">VTSP&nbsp;2017</a>&nbsp;&nbsp;</span>
                </td>
            </tr>
            <tr style="height: 70px;">
                <td style="vertical-align: middle; width: 15%; text-align: center;" valign="middle" bgcolor="#0195d3">
                    <span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">
                        <span style="color: #ffffff;">
                            <a id="ext-gen1116" class="ui_74" style="color: #ffffff;" tabindex="0" href="https://onevmw-my.sharepoint.com/:w:/r/personal/scharvin_vmware_com/Documents/QuickSTART%20Checklist.docx?d=wd2ca8769aaf246adbea5ec797eeba8f2&csf=1&e=u25fvt"
                                target="_blank">
                                <br /> </a>
                            <br /> </span>
                    </span>
                </td>
                <td style="vertical-align: middle; width: 14%; text-align: center;" valign="middle" bgcolor="#006991">
                    <span>
                        <a style="color: #ffffff;" href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/learningeventdetail/curra000000000006707"
                            target="_blank">Introducing Our Solutions</a>
                    </span>
                </td>
                <td style="vertical-align: middle; width: 15%; text-align: center;" valign="middle" bgcolor="#1d4077">
                    <span>
                        <a style="color: #ffffff;" href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/learningeventdetail/curra000000000006697"
                            target="_blank">VSP 2017</a>
                    </span>
                </td>
                <td style="vertical-align: middle; width: 14%; text-align: center;" valign="top" bgcolor="#6bb344">
                    <span>
                        <a style="color: #ffffff;" href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/learningeventdetail/curra000000000003062"
                            target="_blank">Engaging the Greater VMware Teams</a>
                    </span>
                </td>
                <td style="background-color: #387c2c; width: 14%; text-align: center; vertical-align: middle;" valign="top" bgcolor="#6bb344">
                    <span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">
                        <a id="ext-gen1120" class="ui_78" style="color: #ffffff;" tabindex="0" href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/ledetail/cours000000000030469"
                            target="_blank"></a>&nbsp;&nbsp;</span>
                </td>
            </tr>
            <tr style="height: 70px;">
                <td style="vertical-align: middle; width: 15%; text-align: center;" valign="middle" bgcolor="#0195d3">
                    <span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">
                        <span style="color: #ffffff;">
                            <a id="ext-gen1116" class="ui_74" style="color: #ffffff;" tabindex="0" href="https://onevmw-my.sharepoint.com/:w:/r/personal/scharvin_vmware_com/Documents/QuickSTART%20Checklist.docx?d=wd2ca8769aaf246adbea5ec797eeba8f2&csf=1&e=u25fvt"
                                target="_blank"></a>
                            <br /> </span>
                    </span>
                </td>
                <td style="vertical-align: middle; width: 14%; text-align: center;" valign="middle" bgcolor="#006991">
                    <span>
                        <a style="color: #ffffff;" href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/learningeventdetail/curra000000000006707"
                            target="_blank">Services Sales Activities</a>
                    </span>
                </td>
                <td style="vertical-align: middle; width: 15%; text-align: center;" valign="middle" bgcolor="#1d4077">&nbsp;</td>
                <td style="vertical-align: middle; width: 14%; text-align: center;" valign="top" bgcolor="#6bb344">&nbsp;</td>
                <td style="background-color: #387c2c; width: 14%; text-align: center; vertical-align: middle;" valign="top" bgcolor="#6bb344">
                    <span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">
                        <a id="ext-gen1120" class="ui_78" style="color: #ffffff;" tabindex="0" href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/ledetail/cours000000000030469"
                            target="_blank"></a>&nbsp;&nbsp;</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div style="float: left; width: 100%;">​
    <table style="height: 210px; border-color: #ffffff;" border="0" width="100%" cellspacing="5" cellpadding="10">
        <tbody>
            <tr style="height: 70px;">
                <th style="background-color: #ffffff; width: 16%; box-sizing: border-box; ; vertical-align: middle;" rowspan="3" scope="col">
                    <a style="color: #ffffff;" href="#">Product Marketing</a>
                </th>
                <td style="vertical-align: middle; width: 15%; text-align: center;" valign="middle" bgcolor="#0195d3">
                    <span>
                        <a style="color: #ffffff;" href="https://onevmw-my.sharepoint.com/:b:/g/personal/mraghavendra_vmware_com/EREjIE0FDi1Lsne51E4wvUUBN_05grCwWVvpZrSjjadIbQ?e=pCL5yY"
                            target="_blank">QuickSTART&nbsp;
                            <br />Checklist</a>
                    </span>
                </td>
                <td style="vertical-align: middle; width: 14%; text-align: center;" valign="middle" bgcolor="#006991">
                    <span style="color: #ffffff;">&nbsp;
                        <a style="color: #ffffff;" href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/ledetail/cours000000000030798">
                            Solution Selling Sales Cycle
                        </a>
                    </span>
                </td>
                <td style="vertical-align: middle; width: 15%; text-align: center;" valign="middle" bgcolor="#1d4077">
                    <span>
                        <a style="color: #ffffff;" href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/learningeventdetail/curra000000000009669">Modernize Data Centers/ IPC</a>
                    </span>
                </td>
                <td style="vertical-align: middle; width: 14%; text-align: center;" valign="top" bgcolor="#6bb344">
                    <a style="color: #ffffff;" href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/learningeventdetail/curra000000000009689">

                        Cloud & Cloud Native Applications

                    </a>
                </td>
                <td style="background-color: #387c2c; width: 14%; text-align: center; vertical-align: middle;" valign="top" bgcolor="#6bb344">
                    <span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">
                        <a id="ext-gen1120" class="ui_78" style="color: #ffffff;" tabindex="0" href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/ledetail/cours000000000030469"
                            target="_blank"></a>&nbsp;&nbsp;</span>
                </td>
            </tr>
            <tr style="height: 70px;">
                <td style="vertical-align: middle; width: 15%; text-align: center;" valign="middle" bgcolor="#0195d3">
                    <span>
                        <span style="color: #ffffff;">

                            <a style="color: #ffffff;" href="https://onevmw-my.sharepoint.com/:w:/r/personal/scharvin_vmware_com/Documents/QuickSTART%20Checklist.docx?d=wd2ca8769aaf246adbea5ec797eeba8f2&csf=1&e=u25fvt"
                                target="_blank">
                                Talking to Sales</a>
                        </span>
                    </span>
                    </span>
                </td>
                <td style="vertical-align: middle; width: 14%; text-align: center;" valign="middle" bgcolor="#006991">
                    <span>
                        <a style="color: #ffffff;" href="#"> he Software-Defined Data Center</a>
                    </span>
                </td>
                <td style="vertical-align: middle; width: 15%; text-align: center;" valign="middle" bgcolor="#1d4077">
                    <span>
                        <a style="color: #ffffff;" href="#">
                            Transform Networking & Security
                        </a>

                    </span>
                </td>
                <td style="vertical-align: middle; width: 14%; text-align: center;" valign="top" bgcolor="#6bb344">&nbsp;</td>
                <td style="background-color: #387c2c; width: 14%; text-align: center; vertical-align: middle;" valign="top" bgcolor="#6bb344">
                    <span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">
                        <a style="color: #ffffff;" tabindex="0" href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/ledetail/cours000000000030469"
                            target="_blank"></a>&nbsp;&nbsp;</span>
                </td>
            </tr>
            <tr style="height: 70px;">
                <td style="vertical-align: middle; width: 15%; text-align: center;" valign="middle" bgcolor="#0195d3">
                    <span>
                        <a style="color: #ffffff;" href="#">Talking to Marketing</a>
                    </span>
                </td>
                <td style="vertical-align: middle; width: 14%; text-align: center;" valign="middle" bgcolor="#006991">
                    <span>
                        <a style="color: #ffffff;" href="#">
                            Talking to Partners
                        </a>
                    </span>
                </td>
                <td style="vertical-align: middle; width: 15%; text-align: center;" valign="middle" bgcolor="#1d4077">
                    <span style="color: #ffffff; ">
                        <a style="color: #ffffff;" href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/learningeventdetail/curra000000000009710">Empower Digital Workspace</a>&nbsp;</span>
                </td>
                <td style="vertical-align: middle; width: 14%; text-align: center;" valign="top" bgcolor="#6bb344">&nbsp;</td>
                <td style="background-color: #387c2c; width: 14%; text-align: center; vertical-align: middle;" valign="top" bgcolor="#6bb344">
                    <span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">
                        <a style="color: #ffffff;" tabindex="0" href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/ledetail/cours000000000030469"
                            target="_blank"></a>&nbsp;&nbsp;</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div style="float: left; width: 100%;">​
    <table style="height: 140px; border-color: #ffffff;" border="0" width="100%" cellspacing="5" cellpadding="10">
        <tbody>
            <tr style="height: 70px;">
                <th style="background-color: #ffffff; width: 16%; box-sizing: border-box; ; vertical-align: middle;" rowspan="2" scope="col">
                    <span style="color: #f38b00;">
                        <strong>
                            <span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">Cloud&nbsp;&nbsp;
                                <br />Marketing</span>
                        </strong>
                    </span>
                </th>
                <td style="vertical-align: middle; width: 15%; text-align: center;" valign="middle" bgcolor="#0195d3">
                    <span>
                        <a style="color: #ffffff;" href="https://onevmw-my.sharepoint.com/:b:/g/personal/mraghavendra_vmware_com/EREjIE0FDi1Lsne51E4wvUUBN_05grCwWVvpZrSjjadIbQ?e=pCL5yY">
                            QuickSTART
                            <br /> Checklist
                        </a>
                    </span>
                </td>
                <td style="vertical-align: middle; width: 14%; text-align: center;" valign="middle" bgcolor="#006991">
                    <a style="color: #ffffff;" href="http://partners.us.newsweaver.com/vpn-inside-edition/1sgcpl9z7ytjl90ed89cjy?email=true&a=5&p=2133938&t=259917">New&nbsp;VMware&nbsp;Cloud on&nbsp;AWS&nbsp;Competency Cheat Sheets-For New Partners</a>&nbsp;</td>
                <td style="vertical-align: middle; width: 15%; text-align: center;" valign="middle" bgcolor="#1d4077">&nbsp;</td>
                <td style="vertical-align: middle; width: 14%; text-align: center;" valign="top" bgcolor="#6bb344">&nbsp;</td>
                <td style="background-color: #387c2c; width: 14%; text-align: center; vertical-align: middle;" valign="top" bgcolor="#6bb344">
                    <span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">
                        <a id="ext-gen1120" class="ui_78" style="color: #ffffff;" tabindex="0" href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/ledetail/cours000000000030469"
                            target="_blank"></a>&nbsp;&nbsp;</span>
                </td>
            </tr>
            <tr style="height: 70px;">
                <td style="vertical-align: middle; width: 15%; text-align: center;" valign="middle" bgcolor="#0195d3">
                    <span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">
                        <span style="color: #ffffff;">
                            <a id="ext-gen1116" class="ui_74" style="color: #ffffff;" tabindex="0" href="https://onevmw-my.sharepoint.com/:w:/r/personal/scharvin_vmware_com/Documents/QuickSTART%20Checklist.docx?d=wd2ca8769aaf246adbea5ec797eeba8f2&csf=1&e=u25fvt"
                                target="_blank">
                                <br /> </a>
                            <br /> </span>
                    </span>
                </td>
                <td style="vertical-align: middle; width: 14%; text-align: center;" valign="middle" bgcolor="#006991">&nbsp;
                    <a style="color: #ffffff;" href="http://partners.us.newsweaver.com/vpn-inside-edition/16326tjg55gjl90ed89cjy?email=true&a=5&p=2133938&t=259917">New&nbsp;VMware&nbsp;Cloud on&nbsp;AWS&nbsp;Competency Cheat Sheets</a>
                    <span style="color: #ffffff;">-&nbsp;
                        <span style="text-decoration: underline;">For Existing partner</span>s</span>
                </td>
                <td style="vertical-align: middle; width: 15%; text-align: center;" valign="middle" bgcolor="#1d4077">&nbsp;</td>
                <td style="vertical-align: middle; width: 14%; text-align: center;" valign="top" bgcolor="#6bb344">&nbsp;</td>
                <td style="background-color: #387c2c; width: 14%; text-align: center; vertical-align: middle;" valign="top" bgcolor="#6bb344">
                    <span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">
                        <a id="ext-gen1120" class="ui_78" style="color: #ffffff;" tabindex="0" href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/ledetail/cours000000000030469"
                            target="_blank"></a>&nbsp;&nbsp;</span>
                </td>
            </tr>
            <!-- <tr>				<td style="vertical-align: middle; width: 15%; text-align: center;" valign="middle" bgcolor="#0195d3">					<span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">						<span style="color: #ffffff;">							<a id="ext-gen1116" class="ui_74" style="color: #ffffff;" tabindex="0" href="https://onevmw-my.sharepoint.com/:w:/r/personal/scharvin_vmware_com/Documents/QuickSTART%20Checklist.docx?d=wd2ca8769aaf246adbea5ec797eeba8f2&csf=1&e=u25fvt"							 target="_blank"></a>							<br /> </span>					</span>				</td>				<td style="vertical-align: middle; width: 14%; text-align: center;" valign="middle" bgcolor="#006991">&nbsp;</td>				<td style="vertical-align: middle; width: 15%; text-align: center;" valign="middle" bgcolor="#1d4077">&nbsp;</td>				<td style="vertical-align: middle; width: 14%; text-align: center;" valign="top" bgcolor="#6bb344">&nbsp;</td>				<td style="background-color: #387c2c; width: 14%; text-align: center; vertical-align: middle;" valign="top" bgcolor="#6bb344">					<span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">						<a id="ext-gen1120" class="ui_78" style="color: #ffffff;" tabindex="0" href="https://vmware.sabacloud.com/Saba/Web_spf/NA1PRD0121/common/ledetail/cours000000000030469"						 target="_blank"></a>&nbsp;&nbsp;</span>				</td>			</tr> -->
        </tbody>
    </table>
</div>