.indent_content{
    text-indent: 50px;
}
.content{
    text-align: justify;
    color: #000;
    font-size: 15px;
}
h1.head {
    text-align: center;
    color: #675962
}
.indent-heading{
    text-indent: 10px;
    color: #675962;
    font-weight: bold;
}

