
<div class="row content-area">
  <div class="col-md-10 push-md-1 row desc">
    <div class="col-md-10 push-md-1">
      <h1 class="indent-heading head"> Angular 5 is “Faster, Smaller and Easier”</h1>
      <div class="content indent_content">
        Angular 5 is a JavaScript framework for building web applications and apps in JavaScript, html, and TypeScript, which is
        a superset of JavaScript. Angular provides built-in features for animation, http service, and materials which in
        turn has features such as auto-complete, navigation, toolbar, menus, etc. The code is written in TypeScript, which
        compiles to JavaScript and displays the same in the browser.
      </div>
      <h3 class="indent-heading">Why Angular 5</h3>
      <div class="indent_content content">
        <ul class="">
          <li>Simpler Progressive Web Applications</li>
          <li>Material Design</li>
          <li>Build optimizer</li>
          <li>Angular Universal API and DOM</li>
          <li>Improved Compiler and Typescript</li>
          <li>CLI v1.5</li>
          <li>Router Hooks</li>
          <li>Number, date and currency pipes update</li>
          <li>PWA (Progressive Web Applications)</li>
        </ul>
      </div>
      <h3 class="indent-heading">Simpler Progressive Web Applications</h3>
      <div class="indent_content content">
          Another major update in Angular 5.0 is that Material Design components are now made compatible with server-side rendering.
           However, this feature has not been released for now.
      </div>
      <h3 class="indent-heading">Material Design Components</h3>
      <div class="indent_content content">
          Progressive web applications are generating much hype these days. Understanding this trend, Angular Team has put emphasis to simplify the PWA making process. Not only that, with Angular 5.0 it is possible to get the features of native mobile applications with the mobile web apps such as push notifications and offline experience.
           This is made possible as Angular can create code and configuration with Angular-CLI on its own
      </div>
      <h3 class="indent-heading">Built Optimizer</h3>
      <div class="indent_content content">
          Progressive web applications are generating much hype these days. Understanding this trend, Angular Team has put emphasis to simplify the PWA making process. Not only that, with Angular 5.0 it is possible to get the features of native mobile applications with the mobile web apps such as push notifications and offline experience.
           This is made possible as Angular can create code and configuration with Angular-CLI on its own
      </div>
      <h3 class="indent-heading">Ahead-of-time Compiler On By Default</h3>
      <div class="indent_content content">
          The AOT compiler is much faster than it was in Angular 4 and it is also switched on by default. Basically, the AOT compiler converts Angular TypeScript into efficient JavaScript code before the browser downloads it and runs it.
      </div>
      <h3 class="indent-heading">Just In Time (JIT)</h3>
      <div class="indent_content content">
          This is different to the just-in-time (JIT) compiler which compiles apps in the browser at runtime which is what most Angular developers were using up until now. Using AOT gives faster rendering, fewer asynchronous requests, smaller download sizes, and it can also detect template errors earlier. This makes Angular 5 faster in both development and production
      </div>
      <h3 class="indent-heading">Excellent Mobile Experience</h3>
      <div class="indent_content content">
          In Angular 5, the @angular/service-worker package is introduced, which plays an important role in making progressive Web Apps. Progressive Web Apps are all about conveying user experiences for mobile devices that are stable, rapid, and fascinating
      </div>
    </div>
  </div>
</div>