<h3 id="configuration">Configuration</h3>
<p>A routed Angular application has one singleton instance of the
  <em>
    <code>Router</code>
  </em> service. When the browser's URL changes, that router looks for a corresponding
  <code>Route</code> from which it can determine the component to display.</p>
<p>A router has no routes until you configure it. The following example creates four route definitions, configures the router
  via the
  <code>RouterModule.forRoot</code> method, and adds the result to the
  <code>AppModule</code>'s
  <code>imports</code> array.</p>
  <p>
    The appRoutes array of routes describes how to navigate. 
    Pass it to the RouterModule.forRoot method in the module imports to configure the router.
  </p>
  <p>
    Each Route maps a URL path to a component.
     There are no leading slashes in the path.
      The router parses and builds the final URL for you, allowing you to use both relative and absolute paths when navigating between application views.
  </p>
  <p>
    The :id in the second route is a token for a route parameter. 
    In a URL such as /hero/42, "42" is the value of the id parameter. 
    The corresponding HeroDetailComponent will use that value to find and present the hero whose id is 42.
     You'll learn more about route parameters later in this guide.
  </p>
  <p>
    The data property in the third route is a place to store arbitrary data associated with this specific route.
    The data property is accessible within each activated route. Use it to store items such as page titles, breadcrumb text, and other read-only, static data.
     You'll use the resolve guard to retrieve dynamic data later in the guide.
  </p>
  <p>
    The empty path in the fourth route represents the default path for the application, the place to go when the path in the URL is empty, as it typically is at the start. 
    This default route redirects to the route for the /heroes URL and, therefore, will display the HeroesListComponent.
  </p>
  
  <p>
    The ** path in the last route is a <i>wildcard</i>. The router will select this route if the requested URL doesn't match any paths for routes defined earlier in the configuration.
     This is useful for displaying a "404 - Not Found" page or redirecting to another route.
  </p>
  <p>
    The order of the routes in the configuration matters and this is by design. 
    The router uses a first-match wins strategy when matching routes, so more specific routes should be placed above less specific routes. 
    In the configuration above, routes with a static path are listed first, followed by an empty path route, that matches the default route. The wildcard route comes last because it matches every URL and should be selected only if no other routes are matched first.
  </p>
 <p>
  If you need to see what events are happening during the navigation lifecycle, there is the enableTracing option as part of the router's default configuration.
   This outputs each router event that took place during each navigation lifecycle to the browser console.
    This should only be used for debugging purposes. 
    You set the enableTracing: true option in the object passed as the second argument to the RouterModule.forRoot() method.
 </p>
 